.header {
    /* display: flex; */
    height: 40px;
    /* width: 20px; */
  }
  .cta {
    background-color: royalblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height: 600px;
    width: 200px;
    text-align: center;
    padding: 3px;
    /* margin-left: 45px; */
  }
  .modal {
    position: fixed;
    /* background-color: #333; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #333; */
    display: flex;
  
    --opacity: 0;
    --pointer: none;
  
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity 0.4s;
  }
  
  .modal:target {
    --opacity: 1;
    --pointer: unset;
  }
  
  .modal_container {
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 1em;
  }
  
  .modal_picture {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;
  }
  
  .modal_img {
    width: 100%;
    display: block;
  }
  
  .modal_title {
    font-size: 2.5rem;
    font-weight: 500px;
  }
  .modal_title--bold {
    font: weight 700px;
  }
  
  .modal_paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
  }
  .modal_close {
    background: #f9f9f9;
    border: 5px solid rgba(8, 166, 240, 0.959);
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    color: rgba(8, 166, 240, 0.959);
    font-weight: bold;
    padding-top: 8px;
  }
  
  @media (max-width: 600px) {
    .modal_title {
      font-size: 1.7rem;
    }
  }
  
  
  .file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
  }
  
  #preview {
    margin-top: 10px;
  }
  
  .status-text {
    padding: 0 10px;
  }
  
  #miFoto {
    visibility: hidden;
    width: 70%;
  }
  
  .agregarFoto {
    background: #f9f9f9;
    border: 5px solid #2f1e6c;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    color: #2b1a6e;
    font-weight: bold;
  }
  
button{
  color: "secondary" !important;
}

.bg-secondary{
  background-color: hsl(var(--nextui-secondary) / var(--nextui-secondary-opacity, var(--tw-bg-opacity))) !important;
}