.box {
    display: flex;
    padding: 0;
  }
  
  /* Aplica 100% de width para usar la pagina completa */
  
  div[id="paginaCentral"] {
    width: 100%;
    min-height: 500px;
  }
  
  #jitsiMeeting-0 {
    min-height: 500px;
    height: 1px;
  }
  
  .contenedor{
    display: flex;
    flex-direction: row;
  }
  
  .content-wrapper{
    margin: 0 !important;
  }
  
  #paginaPrincipal{
    background-color: aqua;
    min-height: 500px;
  }
  
