.modal-backdrop{
z-index: -1;
}
    

/* .modal{
background-color: none !important;
} */

.modal-content{
color: black;
}

.modal-header{
background-color: #007bff;
}

.modal-header h5{
  color: white;
}

#exampleModal{
  display: none;
  padding-top: 30px;
  overflow: none;
}

form {
  display: flex;
}