
  .navbar nav header{
    gap: 0.7rem !important;
    padding-left: 10px !important;
    padding-right: 20px !important;

  }

  .margen{
    gap: 0.7rem !important
  }

  button.main-button {
    cursor: pointer;
    background-color: #8261ee;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  button.main-button:hover {
    background-color: #ff589e;
  }

  .titulo {
  
  
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: x-large;
  
  
  }

  .subtitulo{
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
  }

  .cuerpoTexto {
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
  }