  #avatar span:first-child {
    height: 50px;
    width: 50px;
  }

  #avatar div span:first-child {
    height: auto;
    width: auto;
  }

  #navbar header:first-child{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;

  }
  #navbar{
    padding: 0 !important;
    margin: 0 !important;
  }

  #avatar span:last-child {
    height: auto;
    width: auto;
  }


  .arrow-avatar {
    margin-top: 12px;
  }
  #menu {
    height: 75px;
    background-color: white;
    padding: 10px;
  
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  #hola {
    margin-top: -25px;
    float: right;
    margin-right: 0;
    height: 50px;
    max-height: 60px;
  }
  li {
    text-decoration: none;
  }
  .dropdown-item {
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #nav-item {
  }
  
  #navbarcontainer{
    margin-left: 0 !important;
  }